---
layout: default
---

<div class="main-content home-page clearfix">
  <div class="categorys-item">
      <div class="post-lists">
          <div class="post-lists-body">
                {% for post in paginator.posts %}
                {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
                {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
                {% capture next_year %}{{ post.next.date | date: "%Y" }}{% endcapture %}
                {% capture next_month %}{{ post.next.date | date: "%B" }}{% endcapture %}

                {% if this_month != next_month or this_year != next_year %}
                <div class="categorys-title">{{ this_month }} {{ this_year }}</div>
                {% endif %}

                <div class="post-list-item">
                    <div class="post-list-item-container">
                        <div class="item-post-preview">
                            <a href="{{ post.url | prepend: site.baseurl }}">
                                <h2 class="post-title">
                                    {{ post.title }}
                                </h2>
                                {% if post.subtitle %}
                                <h3 class="post-subtitle">
                                    {{ post.subtitle }}
                                </h3>
                                {% endif %}
                                <div class="post-content-preview">
                                    {{ post.content | strip_html | truncate:200 }}
                                </div>
                            </a>
                            <p class="post-meta">
                                Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
          </div>
      </div>
  </div>

  {% if paginator.total_pages > 1 %}
    <div class="lists-navigator clearfix">
        <ol class="page-navigator">
            {% if paginator.previous_page %}
            <li class="prev"><a href="{{ paginator.previous_page_path | relative_url }}">←</a></li>
            {% endif %}
            {% for page in (1..paginator.total_pages) %}
            <li {% if page==paginator.page %} class="current" {% endif %}>
                <a href="{% if page == 1 %}{{  '/' | prepend: site.baseurl }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">{{
                    page }}</a>
            </li>
            {% endfor %}
            {% if paginator.next_page %}
            <li class="next"><a href="{{ paginator.next_page_path | relative_url }}">→</a></li>
            {% endif %}
        </ol>
    </div>
    {% endif %}
</div>
